<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

        <div class="card">
            <loader is-loading="ctrl.form.isLoading"></loader>

            <div class="card-header ch-alt">
                <h2 data-ng-bind="ctrl.form.object.id != null ? 'Редактирование' : 'Создание'"></h2>
            </div>

            <div class="card-body card-padding">
                <form-control-messages field-name="login" label="Логин" form="ctrl.form">
                    <div class="input-group">
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Логин"
                                   data-ng-model="ctrl.form.object.login">
                        </div>
                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    </div>
                </form-control-messages>

                <form-control-messages field-name="password" label="Пароль" form="ctrl.form">
                    <div class="input-group">
                        <div class="fg-line">
                            <input type="password" class="form-control" placeholder="Пароль"
                                   data-ng-model="ctrl.form.object.password">
                        </div>
                        <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                    </div>
                </form-control-messages>

                <form-control-messages field-name="type" label="Тип" form="ctrl.form" ng-if="ctrl.roles != null">
                    <select chosen
                            data-placeholder="Выберите тип..."
                            class="form-control"
                            data-disable-search="true"
                            data-allow-single-deselect="false"
                            data-ng-model="ctrl.form.object.role"
                            data-ng-options="r.title for r in ctrl.roles track by r.name"
                            data-ng-disabled="ctrl.form.object.id != null">
                        <option value=""></option>
                    </select>
                </form-control-messages>

                <form-control-messages field-name="name" label=Имя form="ctrl.form">
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="Имя"
                               data-ng-model="ctrl.form.object.name">
                    </div>
                </form-control-messages>

                <form-control-messages field-name="email" label="Email" form="ctrl.form">
                    <div class="input-group">
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="email"
                                   data-ng-model="ctrl.form.object.email">
                        </div>
                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                    </div>
                </form-control-messages>

                <form-control-messages field-name="avatar" label="Аватар" form="ctrl.form">
                    <fileinput file-change="ctrl.choseAvatar(item);" accept="image/*"
                               preview-url="ctrl.form.object.avatarUrl"></fileinput>
                </form-control-messages>

                <form-control-messages field-name="blocked" form="ctrl.form">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="ctrl.form.object.blocked">
                            <i class="input-helper"></i>
                            Заблокирован?
                        </label>
                    </div>
                </form-control-messages>

                <div>
                    <button class="btn btn-primary waves-effect" data-ng-click="ctrl.extendedSave();">Сохранить</button>
                    <confirm-button
                            data-ng-if="ctrl.form.object.id != null && ctrl.accountService.account.id != ctrl.form.object.id"
                            class="pull-right"
                            overlay="true"
                            on-confirm="ctrl.remove()">
                    </confirm-button>
                </div>

                <form-messages class="m-t-15" form="ctrl.form"></form-messages>
            </div>
        </div>
    </div>
</div>