<!-- Login -->
<div class="login-content ">

    <div class="lc-block toggled">
        <form-messages form="ctrl.form"></form-messages>

        <form-control-messages field-name="login" label="Логин" form="ctrl.form">
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Логин"
                           data-ng-model="ctrl.form.object.login">
                </div>
            </div>
        </form-control-messages>

        <form-control-messages field-name="password" label="Пароль" form="ctrl.form">
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                <div class="fg-line">
                    <input type="password" class="form-control" placeholder="Пароль"
                           data-ng-model="ctrl.form.object.password">
                </div>
            </div>
        </form-control-messages>

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="ctrl.form.object.isRemember">
                <i class="input-helper"></i>
                Запомнить
            </label>
        </div>

        <div ng-click="ctrl.login()" class="btn btn-login btn-info btn-float waves-effect waves-circle"><i
                class="zmdi zmdi-arrow-forward"></i>
        </div>
    </div>
</div>