# ignore .idea folder
.idea*
*.iml

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node
node_modules
bower_components

# Mac
.DS_Store

# Место установки node, создающего дополнительно директорию etc
thirdparty

logs
target
src/main/resources/db/migration/current.sql
