<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

        <div class="card">
            <loader is-loading="ctrl.form.isLoading"></loader>

            <div class="card-header ch-alt">
                <h2 data-ng-bind="ctrl.form.object.id != null ? 'Редактирование' : 'Создание'"></h2>
            </div>

            <div class="card-body card-padding">
                <form-control-messages field-name="name" label="Название" form="ctrl.form">
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="Название"
                               data-ng-model="ctrl.form.object.name">
                    </div>
                </form-control-messages>

                <form-control-messages field-name="name" label="Список встреч"
                                       ng-if="ctrl.listController.tournament.type.name == 'CHAMPIONSHIP' && ctrl.id2player != null"
                                       form="ctrl.form">
                    <div class="listview lv-bordered">
                        <div class="lv-body">
                            <div class="lv-item" data-ng-repeat="m in ctrl.form.object.meetingList">
                                <div class="lv-title">
                                    <span data-ng-bind="ctrl.id2player[m.playerAId].name != null ? ctrl.id2player[m.playerAId].name : ctrl.id2player[m.playerAId].login == null"></span>
                                    -
                                    <span data-ng-bind="ctrl.id2player[m.playerBId].name != null ? ctrl.id2player[m.playerBId].name : ctrl.id2player[m.playerBId].login == null"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form-control-messages>
                <form-control-messages field-name="matchList" label="Список матчей"
                                       ng-if="ctrl.id2team != null"
                                       form="ctrl.form">
                    <editable-list list="ctrl.form.object.matchList" form="ctrl.matchForm"
                                   init-data="ctrl.matchInitData"
                                   format-func="ctrl.formatMatch(item)"
                                   validate-func="ctrl.validateMatch(item, list)"
                                   item-type-title="матч"
                                   can-delete="ctrl.form.object.status.name == null || ctrl.form.object.status.name == 'NOT_STARTED'"
                                   can-edit="true"
                                   can-add="ctrl.form.object.status.name == null || ctrl.form.object.status.name == 'NOT_STARTED'">
                        <div>
                            <form-control-messages field-name="teamAId" label="Команда А" form="ctrl.matchForm"
                                                   ng-if="ctrl.teams != null">
                                <select chosen
                                        data-placeholder="Выберите команду..."
                                        class="form-control"
                                        data-disable-search="false"
                                        data-allow-single-deselect="false"
                                        data-ng-model="ctrl.matchForm.data.teamAId"
                                        data-ng-disabled="!(ctrl.form.object.status == null || ctrl.form.object.status.name == 'NOT_STARTED')"
                                        data-ng-options="r.id as r.name for r in ctrl.teams">
                                    <option value=""></option>
                                </select>
                            </form-control-messages>

                            <form-control-messages field-name="teamBId" label="Команда Б" form="ctrl.matchForm"
                                                   ng-if="ctrl.teams != null">
                                <select chosen
                                        data-placeholder="Выберите команду..."
                                        class="form-control"
                                        data-disable-search="false"
                                        data-allow-single-deselect="false"
                                        data-ng-model="ctrl.matchForm.data.teamBId"
                                        data-ng-disabled="!(ctrl.form.object.status == null || ctrl.form.object.status.name == 'NOT_STARTED')"
                                        data-ng-options="r.id as r.name for r in ctrl.teams">
                                    <option value=""></option>
                                </select>
                            </form-control-messages>

                            <form-control-messages field-name="teamAIsHome" form="ctrl.matchForm">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"
                                               data-ng-disabled="!(ctrl.matchForm.data.status == null || ctrl.matchForm.data.status.name == 'NOT_STARTED')"
                                               ng-model="ctrl.matchForm.data.teamAIsHome">
                                        <i class="input-helper"></i>
                                        Команда А хозяин?
                                    </label>
                                </div>
                            </form-control-messages>

                            <form-control-messages field-name="date" form="ctrl.matchForm">
                                <div class="date-picker input-group dropup"
                                     ng-class="{ 'is-opened': ctrl.openedDatePicker == true }">
                                    <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                                    <div class="fg-line" ng-class="{ 'fg-toggled': ctrl.openedDatePicker == true }">
                                        <input ng-click="ctrl.openDatePicker($event)" type="text" class="form-control"
                                               uib-datepicker-popup="{{ctrl.dateFormat}}"
                                               ng-model="ctrl.matchForm.data.date" is-open="ctrl.openedDatePicker"
                                               datepicker-options="ctrl.dateOptions"
                                               popup-placement="top-left"
                                               data-ng-disabled="!(ctrl.matchForm.data.status == null || ctrl.matchForm.data.status.name == 'NOT_STARTED')"
                                               placeholder="Выберите дату матча.."/>
                                    </div>
                                </div>
                            </form-control-messages>
                        </div>
                    </editable-list>
                </form-control-messages>

                <form-control-messages field-name="status" label="Тип" form="ctrl.form" ng-if="ctrl.statuses != null">
                    <select chosen
                            data-placeholder="Статус..."
                            class="form-control"
                            data-disable-search="true"
                            data-allow-single-deselect="false"
                            data-ng-model="ctrl.form.object.status"
                            data-ng-options="r.title for r in ctrl.statuses track by r.name"
                            data-ng-disabled="true">
                        <option value=""></option>
                    </select>
                </form-control-messages>

                <form-control-messages field-name="openDate"
                                       ng-if="ctrl.form.object.openDate != null"
                                       label="Дата открытия тура" form="ctrl.form">
                    <p data-ng-bind="ctrl.form.object.openDate | date:'dd.MM.yyyy'"></p>
                </form-control-messages>

                <form-control-messages field-name="startDate"
                                       ng-if="ctrl.form.object.startDate != null"
                                       label="Дата начала тура" form="ctrl.form">
                    <p data-ng-bind="ctrl.form.object.startDate | date:'dd.MM.yyyy'"></p>
                </form-control-messages>

                <form-control-messages field-name="finishDate"
                                       ng-if="ctrl.form.object.finishDate != null"
                                       label="Дата завершения тура" form="ctrl.form">
                    <p data-ng-bind="ctrl.form.object.finishDate | date:'dd.MM.yyyy'"></p>
                </form-control-messages>

                <div>
                    <button class="btn btn-primary waves-effect" data-ng-click="ctrl.extendedSave();">Сохранить</button>
                    <!--удалять можно только туры в кубке и те, что ещё не стартовали-->
                    <confirm-button
                            data-ng-if="ctrl.form.object.id != null && ctrl.listController.tournament.type.name == 'CUP' && ctrl.form.object.status.name == 'NOT_STARTED'"
                            class="pull-right"
                            overlay="true"
                            on-delete="ctrl.remove()">
                    </confirm-button>
                </div>

                <form-messages class="m-t-15" form="ctrl.form"></form-messages>
            </div>
        </div>
    </div>
</div>