<div class="card listview lv-bordered">

    <!--<div class="overlay va-loader" ng-if="collection.showLoading">-->
    <!--<i class="fa fa-refresh fa-spin"></i>-->
    <!--</div>-->

    <div class="card-header ch-alt m-b-20">
        <h2 data-ng-bind="collection.title"></h2>
        <small>Найдено <span data-ng-bind="collection.collectionRepeat.$filtered.length"></span> элементов</small>

        <div class="lvh-search" data-ng-if="collection.searchShow">
            <input type="text" placeholder="Start typing..." class="lvhs-input" ng-model="collection.search">

            <i class="lvh-search-close" data-ng-click="collection.searchShow = false">&times;</i>
        </div>

        <ul class="actions">
            <li data-ng-if="collection.searchable">
                <a data-ng-click="collection.searchShow = true">
                    <i class="zmdi zmdi-search"></i>
                </a>
            </li>


            <li class="dropdown" data-uib-dropdown data-ng-if="collection.sortable">
                <a href="" data-uib-dropdown-toggle aria-expanded="true">
                    <i class="zmdi zmdi-sort"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li data-ng-repeat="headerItem in collection.sortHeader">
                        <a ng-click="collection.selectSortType(headerItem.field)">
                            <i class="zmdi" data-ng-class="{'zmdi-long-arrow-down' : collection.sortCurrentValue == headerItem.field && !collection.sortReverse,
                             'zmdi-long-arrow-up' : collection.sortCurrentValue == headerItem.field && collection.sortReverse}"></i>
                            <span data-ng-bind="headerItem.title"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <button class="btn bgm-cyan btn-float waves-effect waves-circle"
                data-ng-click="collection.btnActionClick();"
                data-ui-sref="{{collection.actionLink}}"
                data-ng-if="collection.actionable">
            <i class="zmdi zmdi-plus">
            </i>
        </button>
    </div>

    <div class="lv-body">
        <div data-ng-transclude="body"></div>
    </div>

    <div class="lv-pagination" data-ng-if="collection.pageable">
        <ul data-uib-pagination
            data-total-items="collection.collectionRepeat.$filtered.length"
            ng-model="collection.curPage"
            data-items-per-page="collection.itemPerPage"
            data-previous-text="&lsaquo;"
            data-next-text="&rsaquo;"
            data-first-text="&laquo;"
            data-last-text="&raquo;"
            data-max-size="3"
            class="pagination-sm"
            data-boundary-link-numbers="true"></ul>
    </div>

</div>