<div class="sidebar-inner c-overflow">
    <div class="profile-menu">
        <a href="">
            <div class="profile-pic">
                <img src="img/profile-pics/1.jpg" alt="">
            </div>

            <div class="profile-info">
                Malinda Hollaway
            </div>
        </a>
    </div>

    <ul class="main-menu">
        <li data-ng-repeat="menuItem in mCtrl.menu"
            data-ng-click="mCtrl.menuItemClick($index)" data-ng-class="{'active toggled': mCtrl.isMenuItemSelected($index),
            'sub-menu' : !mCtrl.menuItemHaveSubItem($index)}">

            <a>
                <i class="{{menuItem.icon}}"></i>
                <span data-ng-bind="menuItem.name"></span>
            </a>

            <ul data-ng-if="mCtrl.isMenuItemSelected($index)">
                <li data-ng-class="{active: mCtrl.isSubMenuItemSelected($parent.$index, $index)}"
                    data-ng-repeat="subMenuItem in menuItem.subMenu">
                    <a data-ui-sref="{{menuItem.url}}.{{subMenuItem.url}}">
                        <i class="{{menuItem.icon}}"></i><span>{{subMenuItem.name}}</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
