<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

        <div class="card">
            <loader is-loading="ctrl.form.isLoading"></loader>

            <div class="card-header ch-alt">
                <h2 data-ng-bind="ctrl.form.object.id != null ? 'Редактирование' : 'Создание'"></h2>
            </div>

            <div class="card-header">
                <form-control-messages field-name="name" label="Название" form="ctrl.form">
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="Название"
                               data-ng-model="ctrl.form.object.name">
                    </div>
                </form-control-messages>

                <form-control-messages field-name="countryId" label="Страна" form="ctrl.form"
                                       ng-if="ctrl.countries != null">
                    <select chosen
                            data-placeholder="Выберите страну..."
                            class="form-control"
                            data-disable-search="false"
                            data-allow-single-deselect="true"
                            data-ng-model="ctrl.form.object.countryId"
                            data-ng-options="r.id as r.name for r in ctrl.countries">
                        <option value=""></option>
                    </select>
                </form-control-messages>

                <form-control-messages field-name="tourCount" label="Количество туров" form="ctrl.form">
                    <div class="fg-line">
                        <input type="number" class="form-control" placeholder="Количество туров"
                               data-ng-model="ctrl.form.object.tourCount">
                    </div>
                </form-control-messages>

                <form-control-messages field-name="image" label="Изображение" form="ctrl.form">
                    <fileinput file-change="ctrl.choseImage(item);" accept="image/*"
                               preview-url="ctrl.form.object.imageUrl"></fileinput>
                </form-control-messages>

                <div>
                    <button class="btn btn-primary waves-effect" data-ng-click="ctrl.extendedSave();">Сохранить</button>
                    <confirm-button
                            data-ng-if="ctrl.form.object.id != null"
                            class="pull-right"
                            overlay="true"
                            on-confirm="ctrl.remove()">
                    </confirm-button>
                </div>

                <form-messages class="m-t-15" form="ctrl.form"></form-messages>
            </div>
        </div>
    </div>
</div>