<flow screen-size="xs,sm">
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" master>
        <div class="collection" collection
             data-title="'Турниры'"
             data-searchable="true"
             data-sort-header="ctrl.header"
             data-sort-default-value="name"
             data-actionable="true"
             data-action-click="flow.showDetail();"
             data-action-link="tournaments.edit({id:null})"
             data-pageable="true"
             data-is-loading="ctrl.form.isLoading">
            <collection-body collection-repeat data-repeat="obj in ctrl.objects"
                             data-pageable="true">
                <div class="lv-title" data-ng-bind="obj.name">
                </div>
                <ul class="lv-attrs">
                    <li class="c-white b-0"
                        data-ng-class="{'bgm-green' : obj.type.name == 'CHAMPIONSHIP', 'bgm-blue' : obj.type.name == 'CUP'}">
                        Тип: <span data-ng-bind="obj.type.title"></span>
                    </li>
                    <li>Статус: <span data-ng-bind="obj.status.title"></span></li>
                </ul>
                <div class="lv-actions actions">
                    <a data-ui-sref="tournaments.edit({id: obj.id})" data-ng-click="flow.showDetail();">
                        <i class="zmdi zmdi-edit"></i>
                    </a>
                </div>
            </collection-body>
        </div>
    </div>

    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" detail>
        <div class="btn btn-info hidden-lg hidden-md col-sm-12 col-xs-12 row-margin-1 m-b-10"
             data-ng-click="flow.showMaster()">Назад
        </div>
        <div data-ui-view="details">
        </div>
    </div>
</flow>