<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

        <div class="card">
            <div class="card-header ch-alt">
                <h2 data-ng-bind="ctrl.form.object.id != null ? 'Редактирование' : 'Создание'"></h2>
            </div>

            <div class="card-header">
                <form-control-messages field-name="name" label="Название" form="ctrl.form">
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="Название"
                               data-ng-model="ctrl.form.object.name">
                    </div>
                </form-control-messages>

                <form-control-messages field-name="type" label="Тип" form="ctrl.form" ng-if="ctrl.types != null">
                    <select chosen
                            data-placeholder="Выберите тип..."
                            class="form-control"
                            data-disable-search="true"
                            data-allow-single-deselect="false"
                            data-ng-model="ctrl.form.object.type"
                            data-ng-options="r.title for r in ctrl.types track by r.name"
                            data-ng-disabled="ctrl.form.object.id != null">
                        <option value=""></option>
                    </select>
                </form-control-messages>

                <form-control-messages field-name="players" label="{{ctrl.getPlayersLabel()}}" form="ctrl.form"
                                       ng-if="ctrl.players != null">
                    <select chosen
                            data-placeholder="Выберите участников турнира..."
                            class="form-control"
                            multiple
                            data-disable-search="false"
                            data-allow-single-deselect="false"
                            data-ng-model="ctrl.form.object.players"
                            data-ng-options="(r.name != null ? r.name : r.login) disable when r.blocked for r in ctrl.players track by r.id"
                            data-ng-disabled="!(ctrl.form.object.id == null || ctrl.isNStep(1))">
                        <option value=""></option>
                    </select>
                </form-control-messages>

                <form-control-messages ng-if="ctrl.form.object.type.name == 'CHAMPIONSHIP'" field-name="roundCount"
                                       label="Количество кругов" form="ctrl.form">
                    <div class="fg-line">
                        <input data-ng-disabled="!(ctrl.form.object.id == null || ctrl.isNStep(1))"
                               type="number" class="form-control" placeholder="Количество кругов"
                               data-ng-model="ctrl.form.object.roundCount">
                    </div>
                </form-control-messages>

                <!--на шаге 2 отображаем select для выбора лиги-->
                <form-control-messages field-name="leagueId" label="Лига" form="ctrl.form"
                                       ng-if="ctrl.leagues != null && ctrl.isNStep(2)">
                    <select chosen
                            data-placeholder="Выберите лигу..."
                            class="form-control"
                            data-disable-search="false"
                            data-allow-single-deselect="true"
                            data-ng-model="ctrl.form.object.league"
                            data-ng-options="r as r.name disable when !r.enabled for r in ctrl.leagues track by r.id">
                        <option value=""></option>
                    </select>
                </form-control-messages>

                <!--на шаге 2 отображаем так же контрол для выбора количества туров и кругов, если это чемпионат -->
                <form-control-messages field-name="tourCount" label="Количество туров" form="ctrl.form"
                                       ng-if="ctrl.isNStep(2) && ctrl.form.object.type.name == 'CHAMPIONSHIP'">
                    <select chosen
                            data-placeholder="Выберите количество туров..."
                            class="form-control"
                            data-disable-search="true"
                            data-allow-single-deselect="true"
                            data-ng-model="ctrl.form.object.tourCount"
                            data-ng-options="(r.left + '(' + r.right + ')') as r.left for r in ctrl.tourAndRoundCounts track by r.left">
                        <option value=""></option>
                    </select>
                </form-control-messages>

                <!--на шаге 3 и выше - отображаем просто выбранную лигу, если она выбрана вообще -->
                <form-control-messages field-name="leagueId" label="Лига" form="ctrl.form"
                                       ng-if="ctrl.isStepGreaterThanN(3) && ctrl.form.object.league != null">
                    <input class="form-control" type="text" disabled data-ng-model="ctrl.form.object.league.name">
                </form-control-messages>

                <div>
                    <button class="btn btn-primary waves-effect" data-ng-click="ctrl.save();">Сохранить</button>
                    <confirm-button
                            data-ng-if="ctrl.canDelete()"
                            class="pull-right"
                            overlay="true"
                            on-confirm="ctrl.remove()">Удалить
                    </confirm-button>
                </div>

                <confirm-button class="d-block m-t-15"
                                button-text="Перейти к определению количества туров в турнире"
                                question-text="После завершения текущего шага создания турнира невозможно будет изменить состав участников. Вы хотите продолжить?"
                                overlay="true"
                                on-confirm="ctrl.finishNStep(1)"
                                main-btn-css-class="btn-block btn-success" data-ng-if="ctrl.isNStep(1)">
                </confirm-button>

                <confirm-button class="d-block m-t-15"
                                button-text="Перейти к созданию туров в турнире"
                                question-text="После завершения текущего этапе невозможно будет изменить привязку к лиге. Вы хотите продолжить?"
                                overlay="true"
                                on-confirm="ctrl.finishNStep(2)"
                                main-btn-css-class="btn-block btn-success" data-ng-if="ctrl.isNStep(2)">
                </confirm-button>

                <form-messages class="m-t-15" form="ctrl.form"></form-messages>
            </div>
        </div>
    </div>
</div>